html {
	min-height: 100%;
}

body {
	position: absolute;
	min-height: 100%;
	min-width: 100%;

	// > * > * > * {
	// 	overflow: hidden;
	// }
}

#nprogress {
	@include z-index('ngprogress');

	.bar {
		@include z-index('ngprogress');
		position: relative;
		top: $top-menu-height;
	}

	.spinner {
		@include z-index('ngprogress');
		position: fixed;
		bottom: 12px;
		top: auto;
	}
}

.flash_messages {
	@include z-index('flash_messages');
}

body > .wrapper {
	background-color: $base-body-backgroundColor;
}

body > .wrapper > .header {
	@include z-index(header);
	overflow: visible;
}

body > .wrapper > .main {
	@include z-index(main);
	min-height: calc(100vh - #{$top-menu-height + $footer-height});
	box-sizing: border-box;
	padding-bottom: 20px;
	margin-bottom: $footer-height;
}

body > .wrapper > .footer {
	@include z-index(footer);
	position: absolute;
	bottom: 0;
	height: $footer-height;
	background-color: #333;

	.container > * {
		display: inline-block;
	}

	.logo {
		font-size: 20px;
		line-height: $footer-height;
	}

	.logo {
		overflow: visible;
		display: inline-block;
		position: relative;
		height: $footer-height;
		@include transition-property(color);
		@include transition-duration(.3s);

		img, svg {
			max-height: none;
			max-width: none;
			height: $footer-height - 45px*2;
			margin-top: 45px;
			// margin-left: 7px;

			path, circle {
				fill: $white;
				@include transition-property(fill);
				@include transition-duration(.3s);
			}
		}

		&:hover {
			color: lighten($secondary-color, 18%);

			svg path, svg circle {
				fill: lighten($secondary-color, 18%);
			}
		}
	}

	.menu, .credit {
		float: right;
		font-size: 14px;
		font-weight: 300;
		line-height: $footer-height;

		&, * {
			color: $white;
		}
	}

	.menu {
		@include opacity(.9);

		a {
			@include transition-property(color, opacity);
			@include transition-duration(.3s);
			color: rgba(255,255,255, .72);

			&:hover {
				color: rgba(255,255,255, 1);
			}

			&::after {
				content: "·";
				padding: 0 7px 0 7px;
				color: white;
				@include opacity(.7);
			}

			&:last-of-type::after {
				content: none;
			}
		}
	}

	.credit {

		&::before {
			content: "－";
			color: white;
			padding: 0 0 0 5px;
			@include opacity(.4);
		}

		> * {
			@include opacity(.3);
		}

		a {
			@include opacity(.4);
			@include transition-property(color, opacity);
			@include transition-duration(.3s);
		}

		a:hover {
			@include opacity(.8);
		}
	}
}

.container {
	max-width: $base-content-maxWidth;
	margin: auto;
	padding: 0 $base-content-padding;
}

.top.menu  {
	overflow: visible;
	height: $top-menu-height;
	position: relative;
	margin-top: 0;
	color: $base-backgroundColor;
	@include border-radius(0);
	@include z-index(top_menu);

	* {
		color: $base-backgroundColor;
	}

	i, i::before {
		color: inherit;
	}

	.container {
		position: relative;

		@include desktop {
			padding-right: 7px;
		}
	}

	.container, .container > .item, .container > .menu, .dropdown {
		height: $top-menu-height;

		// &, & > a {
		// 	line-height: ($top-menu-height - 10px * 2);
		// }

		.button {
			line-height: initial;
		}

		.dropdown > .icon {
			margin-right: -7px;
		}
	}

	> .item, > * > .item, > * > * > .item, > * > * > * > .item {
		padding: 0 12px;
		line-height: $top-menu-height;
	}

	.right.menu {

		> * {
			display: inline-block;
		}

		.top-menu-items {

			> * {

				&:last-child::after {
					left: auto;
					right: 0px;
					background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
					background-image: linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
					position: absolute;
					content: '';
					top: 0%;
					width: 1px;
					height: 100%;
				}
			}

			.item {
				padding: 0 17px;
			}
		}
	}

	.avatar.image {
		height: $top-menu-height;
		background-color: transparent;

		img {
			max-width: 100px;
			width: 34px;
			height: 34px;
			margin-top: ($top-menu-height - 34px) / 2;
		}
	}

	.logo {
		font-size: 20px;
		line-height: $top-menu-height;
	}

	.sidebar-toggle-button {
		// font-size: 20px;
		// @include background-image(image-url('menu.png'));
		// background-repeat: no-repeat;
		// background-position: $base-content-padding 50%;
		// line-height: 32px;
		// padding-left: $base-content-padding;
		// left: - $base-content-padding;

		// svg {
		// 	margin-top: ($top-menu-height - 18) / 2;
		// 	margin-right: 10px;
		// 	float: left;

		// 	path {
		// 		fill: $base-backgroundColor;
		// 	}
		// }
	}

	.sidebar-toggle-button {
		position: absolute;
		top: 0;
		left: 0;
		padding: 0 15px;

		svg {
			margin-top: ($top-menu-height - 18px)/2;

			path {
				fill: $base-backgroundColor;
			}
		}

		g {

			path {
				@include transform(none);
				@include transition-property(all);
				@include transition-duration(.4s);
				@include transition-delay(.4s);
			}
		}

		html.nprogress-busy & {
		}

		body.pushed & {

			g {

				path {
					@include transform(rotate(-45deg) translateX(-6px) translateY(3px));
				}

				path:first-child {
					@include transform(rotate(45deg) translateX(2px) translateY(-2px));
				}

				path:last-child {
					@include transform(rotate(-45deg) translateX(-6px) translateY(-2px));
				}
			}
		}
	}

	.logo {
		overflow: visible;
		display: inline-block;
		position: relative;
		left: 36px;
		height: $top-menu-height;
		@include transition-property(color);
		@include transition-duration(.3s);

		img, svg {
			max-height: none;
			max-width: none;
			height: $top-menu-height - 18px*2;
			margin-top: 18px;
			// margin-left: 7px;

			path, circle {
				fill: $white;
				@include transition-property(fill);
				@include transition-duration(.3s);
			}
		}

		&:hover {
			color: lighten($secondary-color, 18%);

			svg path, svg circle {
				fill: lighten($secondary-color, 18%);
			}
		}
	}

	.login.button {
		margin-top: 12px;
		margin-bottom: 12px;
		height: 33px;
		padding-top: 0.4em;
		padding-right: 14px;

		.label {
			left: -32px;
			width: 36px;
		}

		.label i {
			line-height: 35px;
			margin-right: -8px;
			margin-left: -7px;
		}
	}
}

.ui.buttons {

	.or::before {
		line-height: 1.6em;
	}
}

.ui.message {

	&.alert {
		background-color: $red;
		color: $white;
	}
}

.site_announcement {
	background: lighten(#eee098, 4%);
	color: darken(#cb9810, 7%);
	border-bottom: 1px solid darken(#eee098, 4%);;
	padding: 18px 0;
	line-height: 22px;

	i {
		color: darken(#cb9810, 20%);
	}

	a {
		color: darken(#cb9810, 12%);
		border-bottom: 1px dotted #cb9810;
	}

	> .container {
		margin-top: 0 !important;
		margin: auto;
		@include opacity(.83);
		@include transition-property(opacity);
		@include transition-duration(.3s);

		&:hover {
			@include opacity(1);
		}
	}
}

.top.sidebar {
	background-color: #222 !important;

	.container {
		position: relative;
		padding: 0;
		height: 100%;
		overflow: hidden;

		> * {
			height: 100%;
			position: relative;
			top: 0;
			display: inline-block;
			vertical-align: middle;
			text-align: center;
		}

		.app.home {
			background-color: shade($primary-color, 38%) !important;
		}

		.item {
			width: 100%;
			display: block;
			top: -4px;
			padding-top: 4px;

			&.disabled {
				@include opacity(.5);
			}

			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(255,255,255, 0);
				@include transition-property(background-color);
				@include transition-duration(.3s);
			}

			&:not(.disabled):hover {
				background-color: transparent;

				&::after {
					background-color: rgba(255,255,255, .18);
				}
			}
		}

		.icon, .icon img {
			width: 50px;
			height: 50px;
			font-size: 40px;
			margin: 4px auto auto 0;
			margin-left: auto;
			margin-right: auto;

			i {
				margin-top: 28px;
			}
		}

		.name {
			line-height: 100px;
			font-size: rem(20px);
		}

		.more .name {
			line-height: 100px;
			font-size: rem(50px);
		}

		.icon + .name {
			line-height: 54px;
		}
	}
}

.mobile.sidebar {
	background-color: darken($primary-color, 2%) !important;

	.user {
		width: 100%;
		background-color: rgba(0,0,0, .2);

		.about {
			height: 118px;
			width: 100%;
			text-align: center;

			.avatar, .avatar img {
				width: 60px;
				height: 60px;
			}

			.avatar {
				margin: 16px 10px 10px;
				background-color: transparent;
			}

			.name {
				width: 100%;
				height: 20px;
				font-size: rem(20px);
				color: $white;
				font-weight: 800;
			}
		}

		.login {
			text-align: center;
			margin: 8px 0;
			margin-left: 19px;
		}

		.menu > .item {
			display: inline-block;
			width: 50%;
			text-align: center;

			&:nth-child(2n) {
				// border-left: 1px solid rgba(255, 255, 255, 0.03);
				// text-align: right;
			}

			&:before {
				content: none;
			}

			i.icon {
				// margin-right: -5px;
				// margin-top: 1px;
				float: none;
				margin: 0;
			}
		}
	}

	.bottom {
		position: absolute;
		bottom: 0;
		width: 100%;
		text-align: center;

		* {
			font-size: rem(20px);
		}
	}
}


.apps.sidebar {
	background-color: darken($primary-color, 10%) !important;

	.name {
		font-size: rem(24px);
		padding-bottom: 4px;
	}

	.description {
		font-size: 50%;
		@include opacity(.5);
	}
}

.hide {
	display: none;
}
