html {
	min-height: 100%;
}

body {
	position: absolute;
	min-height: 100%;
	min-width: 100%;

	// > * > * > * {
	// 	overflow: hidden;
	// }
}

.header {
	@include z-index(header);
	overflow: visible;
}

.main {
	@include z-index(main);
}

.footer {
	@include z-index(footer);
}

.container {
	max-width: $base-content-maxWidth;
	margin: auto;
	padding: 0 $base-content-padding;
}

.top.menu  {
	overflow: visible;
	height: $top-menu-height;
	position: relative;
	margin-top: 0;
	color: $base-backgroundColor;
	@include border-radius(0);
	@include z-index(top_menu);

	* {
		color: $base-backgroundColor;
	}

	i, i::before {
		color: inherit;
	}

	.container, .container > .item, .container > .menu, .dropdown {
		height: $top-menu-height;

		&, & > a {
			line-height: ($top-menu-height - 10px * 2);
		}

		.button {
			line-height: initial;
		}
	}

	.item {
		padding: 10px 12px;
	}

	.sidebar-toggle-button {
		// @include background-image(image-url('menu.png'));
		// background-repeat: no-repeat;
		// background-position: $base-content-padding 50%;
		font-size: 20px;
		line-height: 32px;
		padding-left: $base-content-padding;
		left: - $base-content-padding;

		svg {
			margin-top: 7px;
			margin-right: 10px;
			float: left;

			path {
				fill: $base-backgroundColor;
			}
		}
	}

	.login.button {
		margin-top: 7px;
		height: 38px;
		padding-top: 0.59em;

		.label i {
			line-height: 38px;
		}
	}

	.avatar.image {
		top: -2px;
	}
}

.ui.message {

	&.alert {
		background-color: $red;
		color: $white;
	}
}
