%a.ui.facebook.login.animated.fade.button{href: user_omniauth_authorize_path(:facebook)}
  .label
    %i.facebook.sign.icon
  .visible.content
    Login with Facebook
  .hidden.content
    = Setting.org_name
    成員專屬
