.div{style: "max-width: 960px; margin: auto; margin-top: 20px;"}

  .container
    %h1 API Documents
    .markdown
      :markdown
        本系統提供 OAuth 2.0 認證協定以及相關使用者資源 API 供開發者存取，可用於各平台應用程式之開發，並提供服務予使用者。

        應用程式 ID 與密鑰可由 [oauth/applications/](/oauth/applications/) 產生，若需要取得 access token 做測試，可以用此網址手動取得授權： <code>#{Setting.app_url}oauth/authorize?client_id=<span style="color: #dd1144;">[應用程式ID]</span>&redirect_uri=<span style="color: #dd1144;">[redirect_uri]</span>&response_type=token&scope=<span style="color: #dd1144;">[scope1+scope2+...]</span></code> (access_token 會出現在網址列)。

        可用的 OAuth scope 如下:

        - public: 使用者 ID 和姓名
        - email: 學校 email 信箱
        - facebook: Facebook 帳號
        - school: 學籍資料，包括入學年度、身份、系所、學號
        - profile: 個人資料，包括簡介
        - sms: 傳送簡訊
        - offline_access: 可隨時使用應用程式 ID 與秘鑰存取 API，無論使用者有無登入
        - admin: 所有資料，僅限系統管理員 (admin) 使用


        部分 API 僅限系統管理員 (admin) 使用。


= render 'swagger_ui/swagger_ui', discovery_url: '/api-docs.json'

%p .

:javascript
$(window).onload(function () {
  setTimeout(function () {
    if (window.location.hash == "") {
      $('#swagger-ui-container .heading h2 > a').click();
    }
    console.log('done');
  }, 3200);
});

