.ui.vertical.center.wrapper.devise.login{style: "height: 100vh; position: absolute; top: 0;"}
  .ui.vertical.center
    .ui.fluid.form.segment.login.box
      %h3.ui.header 台科大學生嗎？
      = render 'partials/facebook_login_button'

:css
  .top.menu .login.button { display: none; }
