- if session[:user_return_to].to_s.match(/^\/oauth\/authorize/)
  :javascript
    if (document.referrer.match(/#{Setting.app_domain}/)) {
      $('body').dimmer('show');
      window.location = "#{default_authorize_path}";
    }

.ui.vertical.center.wrapper.devise.login{style: "height: 100vh; position: absolute; top: 0;"}
  .ui.vertical.center
    .ui.fluid.form.segment.login.box
      %h3.ui.header 台科大學生嗎？
      = render 'partials/facebook_login_button'

:css
  .top.menu .login.button { display: none; }
