// *************************************
//
//   Settings
//
// *************************************

// -------------------------------------
//   @font-face
// -------------------------------------

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,900,500,100,300,400italic);

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Layouts ----- //

// Z-index

$zIndex-elements: backstage,
                  	hero_content,
                  background,
                  shadow,
                  container,
                  footer,
                  	footer_content,
                  main_background,
                  main,
                  	main_content,
                  	main_special,
                  ngprogress,
                  header,
                  	header_content,
                  top_menu,
                  	top_menu_content,
                  trigger;

// ----- Colors ----- //

$black: #333;
$white: #fff;
$red: #d01716;
$orange: #ff5722;
$yellow: #ffeb3b;
$green: #259b24;
$blue: #03a9f4;
$purple: #9c27b0;
$violet: #673ab7;

// ----- Base Colors ----- //

$base-backgroundColor: $white;
$base-body-backgroundColor: darken($base-backgroundColor, 10%);
$base-color: #222222;
$base-light-color: #fff;
$base-dark-color: #222222;
$base-link-color: #0053c9;

$primary-color: $black;
$secondary-color: $orange;
$tertiary-colour: $violet;

// ----- Base Borders & Box Shadows ----- //

$base-border: 1px solid $base-color;
$base-borderRadius: 3px;
$base-boxShadow: 0 1px 2px rgba($base-color, 0.25);

// ----- Base Typography ----- //

$base-fontFamily: "Roboto", "Helvetica Neue", "Helvetica", "Arial", "Droid Arabic Kufi", "Droid Sans", sans-serif;
$base-fontSize: 16px;
$base-lineHeight: 1.5;

// ----- Base Layout ----- //

$base-whitespace: 20px;
$base-content-maxWidth: 80rem;
$base-content-padding: 16px;

// ----- Layout ----- //

$top-menu-height: 58px;
