.ui.top.inverted.teal.sidebar.menu
  .container
    %center
      %a.item Comming Soon
    / .header.item Top Sidebar menu
    / %a.item One
    / %a.item Two
    / %a.item Three
.ui.left.sidebar
  .container
    %center
      %a.item Comming Soon
